body {
    background-color: black;
    font-family: "Verdana";
    color: white;
    text-align: center;
    
}

.top h1 {
    font-size: 50px;
    font-weight: normal;
}
.top a {
    color: aquamarine;
}

video {
    object-fit: contain;
}

.travel-guide h1 {
    font-weight: 300;
    font-size: 42px;
}

.travel-guide p {
    font-size: 21px;
    color: gray;
}

.travel-guide p a {
    color: aquamarine;
    font-size: 16px;
}

footer {
    text-align: right;
    color: gray;
    font-size: 21px;
}